* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}
.header-bg {
  background: url("/assets/images/background-pattern-desktop.svg");
  height: 32rem;
  width: 100%;
}

body {
  font-weight: 400;
  line-height: 1;
  background-color: #f9f0ff;
  font-family: "Work Sans", sans-serif;
}
.container {
  /* height: 100vh; */
  transform: translateY(-30%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-accordion {
  background-color: #ffffff;
  padding: 3.2rem;
  border-radius: 1.2rem;
  width: 42rem;
}
.heading-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.heading-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.heading-Primary {
  font-size: 3.2rem;
  margin-left: 1.2rem;
  font-weight: 700;
}
.accodion-box {
}
.accodion-title {
  font-size: 1.2rem;
  font-weight: 700;
}
.accodion-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.DOMimg {
  height: 2.4rem;
  width: 2.4rem;
}

.accodion-main-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 1.6rem; */
  padding: 1.4rem 0;
}
.accodion-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  font-size: 1.2rem;
  color: #8c6991;
  line-height: 1.5;
}

/* When open */
.accodion-text.show {
  max-height: 200px; /* Or however tall your content usually is */
}

.hidden {
  display: none;
}
.show {
  display: block;
}

@media (max-width: 29em) {
  .section-accordion {
    width: 28rem;
  }
  .accodion-main-info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 0;
  }

  .accodion-title {
    width: 18rem;
  }
}
